//Подключаем шрифт (Lato)
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&display=swap');

//Шрифт по умолчанию
$fontfamily:"Lato";

//Перемнные
$minwidth: 320px;

//Обнуление
@import "null.scss";

//Облочка
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
//Основная сетка
.container {
    max-width: 1130px;
    padding: 0 15px;
}
@import "mixins.scss";
@import "ui.scss";
@import "header.scss";
@import "footer.scss";


//Основной блок
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    @include flexbox();
    flex-direction: column;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
//content 
.content{
    font-size: 20px;
}

.generation {
    padding: 90px 0;
    background-color: #f7f7f7;
    &__icon {
        margin: 0 0 40px 0;
    }
    @media (max-width: 900px) {
        padding: 80px 0;
    }
    @media (max-width: 600px) {
        padding: 35px 0;
    }
}
.container{
    margin: 0 auto;
}
.block {
    text-align: center;
    &__icon {
        margin: 0 0 33px 0;
    }
    &__title {
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin: 0 0 20p 0;
        line-height: 22px;
    }
    &__text {
        color:#848789;
        font-size: 18px;
        line-height: 34px;
        &__j {
            text-align: justify;
            font-size: 16px;
            line-height: 34px;
            &:after {
                content: "";
                width: 50px;
                margin: 35px auto 0px auto;
                height: 1px;
                display:block;
                background-color: #353738;
            }
        }
    }
}
//==============================
.brands{
    &__block{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &_rev{
        .brands__column{
            @include flexorder(1);
            &_b{
                @include flexorder(2);
            }
        } 
    }
    &__row{
        @include flexbox();
    }
    &__column{ 
        flex: 0 0 33.333%;
        &_b{
            flex: 0 0 66.667%;
        }
    }
    &__content{
        padding: 70px 65px 60px 65px;
        position: relative;
        &:after{
            content: '';
            width: 0;
            bottom: -10px;
            left: 50%;
            margin: 0 0 0 -10px;
            height: 0;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;
        }
    }
    &__image{
        padding-top: 20px;
    }
    @media (max-width: 1500px) {
        &__text{
            &__J{
                &__after{
                    margin: 35px auto 0px auto
                }
            }
        }
    }
    @media (max-width: 1100px) {
        &_last {
            .brands__column{
                &:nth-child(1){
                    @include flexorder(2);
                }
                &:nth-child(2){
                    @include flexorder(1);
                }
                &:nth-child(3){
                    @include flexorder(3);
                }
            }
        }
        &__row{
            flex-direction: column;
        }
    }
     
}
.item{
    height: 100%;
    display: block;
    position: relative;
    &__logo{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include anim(0.3s, 0s);
        @include flexbox();
        justify-content: center;
        background-color: rgba(100, 194, 158, 0.5);
        align-self: center;
        z-index: 2;
        visibility: hidden;
        span{
            margin: 10px 0px 0px 0px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    &__image{ 
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &:hover{
        .item__logo{
            opacity: 1;
            visibility: visible;
        }
    }
    @media (max-width: 1100px) {
        height: auto;
        padding-bottom: 0 0 70px 0;
    }
}

//Слайдер

.slider {
    background-color: #f7f7f7;
    padding: 120px 0 60px 0;
    &__item {
        text-align: center;
    }

    &__icon {
        margin: 0 0 35px 0;
    }

    &__title {
        margin: 0 0 20px 0;
        font-weight: 700;
        font-size: 18px;
        span{
            font-weight: 300;
            color: #848789;
        }
    }

    &__text {
        text-align: center;
        color: #848789;
        font-size: 24px;
        font-style: italic;
        line-height: 34px;
    }
}
//==================================
.slider {
    background-color: #f7f7f7;
    padding: 120px 0 60px 0;
    &__item{
        text-align: center;
    }
    &__icon{
        margin: 0 0 35px 0;
    }
    &__title{
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 20px 0;
    }
    &__text{
        text-align: center;
        color: #848789;
        font-family: Lato;
        font-size: 24px;
        font-style: italic;
        line-height: 34px;
    }
}
//================================================================
.shop{
    &__body{
        @include flexbox();
    }

    &__column {
        flex: 0 1 16.666%;
        &_b{
            flex: 0 1 33.333%;
        }
    }
    &__footer{
        padding: 75px 0;
        text-align: center;
        background-color: #282f35;
    }
    &__btn{
        display: inline-block;
        border: 1px solid rgba(255,255,255, 0.5);
        height: 50px;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        color: #fff;
        padding : 20px 60px;
    }
    @media (max-width: 1100px) {
        &__body{
            flex-wrap: wrap;
        }
        &__clumn {
            flex: 0 1 50%;
            &:first-child{
                flex: 1 1 100%;
            }
            &:last-child{
                flex: 1 1 100%;
            }
        }
        &__btn{
            padding: 15px 30px;
        }
        &__foter{
            padding: 50px 0;
        }
    }
}
.block-shop {
    height: 100%;
    &__row{
        @include flexbox();
    }
    &__column{
        flex: 0 1 50%;
    }
    &__item{
        height: auto;
        padding: 0;
        &_b{
            padding: 0px 0px 200.5% 0px;
        }
        &_l{
            padding: 0;
        }
    }
}
//==============================
.subscribe {
    &__body{
        padding: 110px 0;
        max-width: 534px;
        margin: 0 auto;
        text-align: center;
    }
    &__logo {
        margin: 0 0 39px 0;
    }
    &__label{
        color: #848789;
        font-size: 24px;
        font-style: italic;
        margin: 0 0 35px 0;
    }
    &__form{
        @include flexbox();
    }
    &__input{
        flex: 1 1 auto;
        padding: 0 8px 0 0;
        .input{
            padding: 0 28px;
            font-size: 20px;
            width: 100%;
            height: 69px;
            border: 1px solid #d3d7d9;
            background-color: #fff;
        }
    }
    &__button{
        flex: 0 0 126px;
    }
    &__btn {
        width: 126px;
        height: 69px;
        line-height: 69px;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
        background-color: #64c29a;
    }
    @media (max-width: 750px) {
        &__body{
            padding: 50px 0;
        }
    }
    @media (max-width: 500px) {
        &__form{
            display: block;
        }
        &__input{
            padding: 0 0 8px 0;
        }
        &__btn{
            width:100%;
        }
    }
}